{% if page.layout != 'blank' %}
    <footer class="site-footer">
        <div class="wrapper">
            <p>Maintained by the Citrix Digital Marketing Web team with the help of our contributors. | &copy; {{ 'now' | date: "%Y" }} Citrix Systems, Inc. All rights reserved.</p>
        </div>
    </footer>
{% endif %}

<script src="https://www.citrix.com/c-lib/pylon/1.0.0/ctx-pylon-1.0.0.min.js"></script>
<script src="assets/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.16/clipboard.min.js"></script>