{% if page.layout != 'blank' %}
    <footer class="site-footer">
        <div class="wrapper">
            <p align="right">© 1999-2017 Citrix Systems, Inc. All rights reserved. | <a href="http://www.citrix.com/about/legal/legal-notice.html">Terms of Use</a></p>
        </div>
    </footer>
{% endif %}

<script src="https://www.citrix.com/c-lib/pylon/1.0.0/ctx-pylon-1.0.0.min.js"></script>
<script src="assets/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.16/clipboard.min.js"></script>
